:root {
    --accent-color: #596d48;
}

body {
    display: flex;
    margin: auto;
    justify-content: center;
    padding: 0;
    height: 100vh;
    background-color: black;
}

/* Left side of the page */

.bg-image {
    width: 576px;
    height: auto;
    background-image: url(images/plants.jpg);
    background-size: cover;
    background-color: var(--accent-color);    
    position: relative;
    color: white;
    text-align: center;
}

.under-text {
    background-color: rgb(0, 0, 0, .3);    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: .5rem;
    top: 20%;
}

.photo-credit {
    position: absolute;    
    bottom: 0;
    margin-bottom: 1rem;
    width: 100%;
}

a {
    color: white
}

@font-face {
    font-family: f;
    src: url(Norse-Bold.otf);    
}

.logo {
    height: 96px;
    width: auto;
}

.brand {
    color: white;
    font-size: 64px;   
    font-family: f, Arial, Helvetica, sans-serif; 
}

/* Right side of the page */

.form-container {
    width: 864px;
    background-color: whitesmoke;
    display: flex;            
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.content {
    margin-top: auto;
    margin-bottom: auto;    
}

.content > div {
    padding-left: 2rem;
    padding-right: 6rem;    
}

.content div {
    margin-bottom: 1rem;
}

.form-fields {    
    background-color: white;      
    margin: 1rem 0rem;
    padding: 1rem 0rem;
    box-shadow: 0px 4px 2px lightgray;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

label {
    display: block;    
    font-family: 'Courier New', Courier, monospace;
    font-size: .8rem;
    font-weight: 400;
    text-transform: uppercase;
}

input {
    width: 300px;
    height: 30px;
    border-style: solid;
    border-radius: 4px;
    border-color: #E5E7EB;
    padding-left: 4px;
}

input[type="text"]:focus,
input[type="email"]:focus {
    outline: none;
    border: 2px solid blue;
    box-shadow: 2px 2px 2px cornflowerblue;
}

input[type="password"]:focus {
    outline: none;
    border: 3px solid red;
    box-shadow: 2px 2px 2px lightcoral;
}

input:invalid {
    border-color: red;
    box-shadow: 2px 2px 2px lightcoral;
}

input:invalid:focus {
    border-color: red;
    box-shadow: 2px 2px 2px lightcoral;
}

button {
    padding: 8px 24px;
    background-color: var(--accent-color);
    border-radius: 6px;
    border-style: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.password-error {
    font-size: small;
    color: red;
    font-weight: 300;
    font-size: 12px;
}

.error {
    border: 2px solid red;
}

a.fake {
    color: var(--accent-color);
    text-decoration: none;
}